.back-button {
    background-color: #39a4c5;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
}

.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.back-button:active {
    background-color: #004494;
    transform: scale(0.95);
}
